* {
    margin: 0;
    padding: 0;
}

/* Header */

.header {
    padding: 10px;
    background-color: #242424;
}

.header h2 {
    color: #fff;
    margin: 20px;
    font-weight: bold;
}

.header h4 {
    color: #a3a3a3;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 20px;

}

/* Logo Header */ 

#logoh {
    color: #fff;
    position:absolute; left: 800px; bottom: 500px;
}

/* Menu Header */ 

.menu {
    position:absolute; left:1350px; top: 60px;
}

.menu li {
    list-style: none;
    display: inline-block;
    padding: 4px;
    margin-inline: 20px;
}

.menu li a{
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

/* Menu Buttons */ 

#cbtn {
    background-color: #454545;
    border: 0px solid black;
    border-radius: 690px;
    padding: 14px;
}

#gbtn {
    background-color: #454545;
    border: 0px solid black;
    border-radius: 690px;
    padding: 14px;
}

#pbtn {
    background-color: #454545;
    border: 0px solid black;
    border-radius: 999px;   
    padding: 14px;
}

#cbtn a:hover {
    background-color: white;
    border: 0px solid black;
    border-radius: 999px;   
    color: black;
    padding: 16px;
    transition: 0.3s;
}

#gbtn a:hover {
    background-color: white;
    border: 0px solid black;
    border-radius: 999px;   
    color: black;
    padding: 16px;
    transition: 0.3s;
}

#pbtn a:hover {
    background-color: white;
    border: 0px solid black;
    border-radius: 999px;  
    padding: 16px;
    color: black;
    transition: 0.3s;
}
